table{
    text-align:center; 
    padding:.5px;
    border:1px solid rgb(0, 0, 0);
    margin:0 auto;
    
 }
 
 table td, th{
     padding: 2px;
     border: 1px solid #000000;
     text-align: center;
     
 }
 .t:nth-child(even){
 background:rgb(133, 132, 132);
}
 .t:nth-child(odd){
  background-color: #fff;
}        



 th{
     text-align:center;
     background-color: rgb(42, 255, 42);
     color:rgb(47, 0, 255);
     font-weight:bold;

   }
h1{
    text-align: center;
    font-size: 22px;
}
h2{
    text-align: center;
}
a{
    font-style: italic;
}
@media (min-width: 992px) {
    th {
        font-size: 130%;
    }
    td {
        font-size: 120%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    th {
        font-size: 120%;
    }
    td {
        font-size: 110%;
    }
    }
@media (max-width: 768px) {
    th {
        font-size: 110%;
    }
}